<!-- Describe task in general -->

<p>
    Your goal is to create the fastest sorting algorithm ever - Sort By Removing.
</p>

<p>
    You just need to remove all elements from a given array that are in the incorrect order. As always, we have some conditions:
</p>

<ul>
    <li>it's an asc sorting;</li>
    <li>the first element should always stay in the result list;</li>
    <li>the result of an empty list is an empty list;</li>
    <li>the elements are always integers.</li>
</ul>

<!-- Explain input and output values -->
<p>
    <strong>Input: </strong>
    
{% if interpreter.slug == "js-node" %}
    An array of integers.
{% else %}
    A list of ints.
{% endif %}
</p>

<p>
    <strong>Output: </strong>

{% if interpreter.slug == "js-node" %}
    An array of integers.
{% else %}
    A list of ints.
{% endif %}
</p>


<!-- Give some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Example:</strong>
    </p>

{% if interpreter.slug == "js-node" %}
<pre class="brush: javascript">sortByRemoving([3, 5, 2, 6]) == [3, 5, 6]
sortByRemoving([7, 6, 5, 4, 3, 2, 1]) == [7]
sortByRemoving([3, 3, 3, 3]) == [3, 3, 3, 3]
sortByRemoving([5, 6, 7, 0, 7, 0, 10]) == [5, 6, 7, 7, 10]
sortByRemoving([1, 5, 2, 3, 4, 7, 8]) == [1, 5, 7, 8]
</pre>
{% else %}
<pre class="brush: python">sort_by_removing([3, 5, 2, 6]) == [3, 5, 6]
sort_by_removing([7, 6, 5, 4, 3, 2, 1]) == [7]
sort_by_removing([3, 3, 3, 3]) == [3, 3, 3, 3]
sort_by_removing([5, 6, 7, 0, 7, 0, 10]) == [5, 6, 7, 7, 10]
sort_by_removing([1, 5, 2, 3, 4, 7, 8]) == [1, 5, 7, 8]
</pre>
{% endif %}
</div>

